body {
	margin: 0;
	padding: 0;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 13px;
	background: #efefef;
}

header {
	margin: 0 0 20px 0;
}

header h1 {
	padding: 0;
	line-height: 50px;
}

footer {
	margin: 20px 0 0 0;
	width: 100%;
	text-align: center;
}

#main {
	width: 80%;
	min-width: 800px;
	margin: 0 auto;
}

#main-nav, #main-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#main-nav {
	margin: 77px 0 0 0;
	width: 170px;
	float: left;
	position: absolute;
}

#main-nav li li {
	margin: 0 0 0 20px;
}

#main-nav a:link, #main-nav a:visited, #main-nav a:hover, #main-nav a:active {
	text-decoration: none;
	font-weight: bold;
	color: #0055aa;
	display: block;
	border-right: 5px solid transparent;
	background: transparent;
	padding: 2px 10px;
}

#main-nav a:hover {
	border-right: 5px solid #0055aa;
	background: #dddddd;
}

#content {
	margin: 0 0 0 170px;
	background: #ffffff;
	border: 20px solid transparent;
	border-radius: 10px;
	min-height: 400px;
}

a, a:link, a:hover, a:active, a:visited {
	color: #003399;
}

a:hover {
	color: #0055cc;
}

.img-right {
	float: right;
	clear: both;
	margin: 0 0 20px 20px;
}

.img-left {
	float: left;
	clear: both;
	margin: 0 20px 20px 0;
}

.img-top-two{
	width:49%;
	max-width:none;
}

img {
	max-width:305px;
}

h2, h3, h4 {
	clear: left;
}


/* BEGIN Unity Web Player CSS */
div.missing {
	margin: auto;
	position: relative;
	top: 50%;
	width: 193px;
}
div.missing a {
	height: 63px;
	position: relative;
	top: -31px;
}
div.missing img {
	border-width: 0px;
}
div#unityPlayer {
	cursor: default;
	height: 600px;
	width: 960px;
}
/* END Unity Web Player CSS */


span.key{
	width:25px;
	height:25px;
	text-align:center;
	font-size:20px;
}
table.controls tr td:first-child {
	text-align:center;
}


/**
 * KEYS.css
 *
 * A simple stylesheet for rendering beautiful keyboard-style elements.
 *
 * Author:  Michael Hüneburg
 * Website: http://michaelhue.com/keyscss
 * License: MIT License (see LICENSE.txt)
 */

/* Base style, essential for every key. */
kbd, .key {
	display: inline;
	display: inline-block;
	min-width: 1em;
	padding: .2em .3em;
	font: normal .85em/1 "Lucida Grande", Lucida, Arial, sans-serif;
	text-align: center;
	text-decoration: none;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
	border: none;
	cursor: default;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
kbd[title], .key[title] {
	cursor: help;
}

/* Dark style for display on light background. This is the default style. */
kbd, kbd.dark, .dark-keys kbd, .key, .key.dark, .dark-keys .key {
	background: rgb(80, 80, 80);
	background: -moz-linear-gradient(top, rgb(60, 60, 60), rgb(80, 80, 80));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(60, 60, 60)), to(rgb(80, 80, 80)));
	color: rgb(250, 250, 250);
	text-shadow: -1px -1px 0 rgb(70, 70, 70);
	-moz-box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -.05em .4em rgb(80, 80, 80), 0 .1em 0 rgb(30, 30, 30), 0 .1em .1em rgba(0, 0, 0, .3);
	-webkit-box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -.05em .4em rgb(80, 80, 80), 0 .1em 0 rgb(30, 30, 30), 0 .1em .1em rgba(0, 0, 0, .3);
	box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -.05em .4em rgb(80, 80, 80), 0 .1em 0 rgb(30, 30, 30), 0 .1em .1em rgba(0, 0, 0, .3);
}

/* Light style for display on dark background. */
kbd.light, .light-keys kbd, .key.light, .light-keys .key {
	background: rgb(250, 250, 250);
	background: -moz-linear-gradient(top, rgb(210, 210, 210), rgb(255, 255, 255));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(210, 210, 210)), to(rgb(255, 255, 255)));
	color:  rgb(50, 50, 50);
	text-shadow: 0 0 2px rgb(255, 255, 255);
	-moz-box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
	-webkit-box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
	box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
}