<div>
	<h2>Willkommen</h2>
	<p>Diese Seite pr&auml;sentiert die L&ouml;sungen der Aufgaben des Kurses "<a href="http://tramberend.beuth-hochschule.de/lehre/12-ws/mmi-gea/" title="Modulseite">Game Engine Architecture</a>" von Prof. Dr. Henrik Tramberend an der <a href="http://www.beuth-hochschule.de" title="Hochschulseite">Beuth-Hochschule f&uuml;r Technik Berlin</a>.</p>

	<p>Die Gruppe hat es sich zur Aufgabe gemacht, das Spiel <a href="http://en.wikipedia.org/wiki/Defender_(video_game)" title="Wikipedia: Defender">Defender</a> mit Hilfe der <a href="http://unity3d.com/" title="Homepage Unity3D Engine">Unity3D Engine</a> in neuem Glanz erstrahlen zu lassen. Weitere Informationen erhalten Sie auf den Unterseiten der einzelnen Aufgaben. </p>

	<h3>Gruppenmitglieder:</h3>
	<div>Max Goltzsche: 794761 Max.Goltzsche@gmail.com</div>
	<div>Dennis Fietz: 794827 Fietz.Dennis@gmail.com</div>
</div>
